<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者編集</title>
</head>

<body>
	<h1>管理者編集</h1>
	<form th:object="${loginEditForm}" method="post" th:action="@{/admin/mypage/{id}/edit(id=${loginEditForm.id})}">

		<table border="1">
			<tr>
				<th>ID</th>
				<td th:text="${loginEditForm.id}"></td>
			</tr>
			<tr>
				<th>店舗</th>
				<td>
					<input type="text" th:field="*{store_id}" />
					<span th:if="${#fields.hasErrors('store_id')}" th:errors="*{store_id}" style="color: red"></span>
				</td>
			</tr>
			<tr>
				<th>姓</th>
				<td>
					<input type="text" th:field="*{first_name}" />
					<span th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"
						style="color: red"></span>
				</td>
			</tr>
			<tr>
				<th>名</th>
				<td>
					<input type="text" th:field="*{last_name}" />
					<span th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}" style="color: red"></span>
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" th:field="*{email}" />
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
				</td>
			</tr>
			<tr>
				<th>役職</th>
				<td>
					<input type="text" th:field="*{position_id}" />
					<span th:if="${#fields.hasErrors('position_id')}" th:errors="*{position_id}"
						style="color: red"></span>
				</td>
			</tr>
			<tr>
				<th>権限</th>
				<td>
					<input type="text" th:field="*{authority_id}" />
					<span th:if="${#fields.hasErrors('authority_id')}" th:errors="*{authority_id}"
						style="color: red"></span>
				</td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td>
					<input type="text" th:field="*{phone}" />
					<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></span>
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="password" th:field="*{password}" />
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
				</td>
			</tr>

		</table>
		<button type="submit">更新</button>
	</form>
	<a th:href="@{/admin/top}">TOPに戻る</a>
</body>

</html>